body
{
line-height: 1.2em;
font-size: 1em;
}


h4.list-title
{
text-indent: 0em;
text-align: center;
margin-top: 1.5em;
margin-bottom: 0.7em;
}

.ul-list
{
text-indent: -1.2em;
padding-left: 1.2em;
}

div.list-space
{
margin-top: 1.5em;
margin-bottom: 1.5em;
}

span.special
{
font-family: sans-serif;
}

p.img
{
margin-top: 1em;
text-align: center;
text-indent: 0em;
margin-bottom: 1em;
padding-top: 0.2em;
}

.orn
{
margin-top: 1.5em;
text-indent: 0em;
text-align: center;
padding-top: 0.2em;
}

.BookTitlePage img
{
width: auto !important;
}

.center
{
text-align: center;
text-indent: 0em;
}


h1.part-number
{
font-size: 1.55em;
margin-top: 10%;
margin-bottom: 2em;
text-align: center;
text-indent: 0em;
line-height: 1.2em;
}

h1.part-title
{
font-size: 1.55em;
margin-top: 10%;
margin-bottom: 2em;
text-align: center;
text-indent: 0em;
line-height: 1.2em;
}

div.linegroup
{
margin-top: 1.5em;
margin-bottom: 1.5em;
}

p
{
display: block;
margin-top: 0em;
margin-bottom: 0em;
margin-left: 0em;
margin-right: 0em;
text-indent: 20pt;
}

img.fullpage
{
max-width: 100%;
padding: 0em;
margin: 0em;
}

.timg
{
text-indent: 0em;
margin-top: 0em;
margin-bottom: 0em;
text-align: center;
padding: 0em;
}

.space-break {
margin-top: 1.5em;
text-indent: 0em;
}

.space-break1 {
margin-top: 1.5em;
}

blockquote {
margin-top: 1em;
margin-bottom: 1em;
margin-left: 1em;
margin-right: 1em;
}

p.blockquote-firstpara {
text-indent: 0em;
margin-top: 0em;
margin-left: 20pt;
margin-right: 20pt;
}

p.blockquote-indentedpara {
text-indent: 0em;
margin-bottom: 0em;
margin-left: 20pt;
margin-right: 20pt;
}

p.blockquote-indentedpara1 {
text-indent: 0em;
margin-top: 1em;
margin-left: 20pt;
margin-right: 20pt;
}

p.hanging {
line-height: 1.3em;
text-indent: -1em;
padding-left: 1em;
margin-top: 0em;
margin-bottom: 0em;
}

blockquote p {
margin-left: 0em;
margin-right: 0em;
}

div.epigraph {
margin-left: 20pt;
margin-right: 20pt;
margin-top: 1.5em;
margin-bottom: 1.5em;
}

div.letter {
margin-top: 1.5em;
margin-bottom: 1.5em;
}

div.note {
margin-left: 20pt;
margin-right: 20pt;
margin-top: 1.5em;
margin-bottom: 1.5em;
border: 1pt solid black;
padding: 3pt;
}

div.closer
{
margin-top: 0.2em;
}

div.dateline
{
margin-top: 1em;
}

div.dateline p
{
font-family: monospaced;
text-indent: 0em;
}

p.signed
{
text-indent: 0pt;
text-align: right;
}

.attribution
{
margin-bottom: 1.5em;
text-align: right;
text-indent: 0pt;
}

li
{
font-size: 1em;
}

li p
{
text-indent: 0em;
}

ul
{
margin-top: 1em;
margin-bottom: 1em;
}

ol
{
margin-top: 1em;
margin-bottom: 1em;
}

ul.no-mark
{
list-style-type: none;
}

.noindent
{
text-indent: 0em;
}

h1
{
font-size: 1.55em;
margin-top: 2em;
margin-bottom: 1em;
line-height: 1.2em;
}

h2
{
font-size: 1.15em;
margin-top: 1.5em;
margin-bottom: .5em;
line-height: 1.2em;
}

h1.chapter-number
{
font-size: 2em;
margin-top: 10%;
margin-bottom: 2em;
margin-right: 0.8em;
text-align: right;
text-indent: 0em;
line-height: 1.2em;
}

h1.chapter-title
{
font-size: 1.75em;
margin-top: 0.5em;
margin-bottom: 2em;
text-align: center;
text-indent: 0em;
line-height: 1.2em;
}

h1.appendix-title
{
font-size: 1.75em;
margin-top: 10%;
margin-bottom: 1em;
text-align: center;
text-indent: 0em;
line-height: 1.2em;
font-family: sans-serif;
}


h1.acknowledgements-title
{
font-size: 1.55em;
margin-top: 10%;
margin-bottom: 2em;
text-align: center;
text-indent: 0em;
line-height: 1.2em;
}

h1.preface-title
{
font-size: 1em;
margin-top: 10%;
font-family: sans-serif;
margin-bottom: 1em;
text-align: center;
text-indent: 0em;
line-height: 1.2em;
}

h1.toc-title
{
font-size: 1.55em;
margin-top: 10%;
margin-bottom: 2em;
text-align: center;
text-indent: 0em;
line-height: 1.2em;
}

h1.glossary-title
{
font-size: 1.55em;
margin-top: 10%;
margin-bottom: 2em;
text-align: center;
text-indent: 0em;
line-height: 1.2em;
}

h1.note-title
{
font-weight: bold;
padding-right: 6pt;
margin-top: 3pt;
margin-bottom: 3pt;
line-height: 1.2em;
}

h1.copyright-title
{
font-size: 1.2em;
margin-top: 10%;
margin-bottom: 2em;
text-align: center;
text-indent: 0em;
font-weight: normal;
line-height: 1.2em;
}

.toc-part
{
margin-top: 16pt;
margin-bottom: 6pt;
font-weight: bold;
text-indent: 0em;
text-align: left;
}

.toc-chapter1
{
text-indent: 0em;
margin-bottom: 6pt;
margin-top: 16pt;
text-align: left;
}

.toc-chapter
{
text-indent: 0em;
margin-top: 6pt;
margin-bottom: 6pt;
text-align: left;
}

.toc-preface
{
text-indent: 0em;
margin-top: 6pt;
margin-bottom: 6pt;
text-align: left;
}

.toc-acknowledgements
{
text-indent: 0em;
margin-top: 6pt;
margin-bottom: 6pt;
text-align: left;
}

.toc-glossary
{
text-indent: 0em;
margin-top: 6pt;
margin-bottom: 6pt;
text-align: left;
}

.toc-appendix
{
text-indent: 0em;
margin-top: 6pt;
margin-bottom: 6pt;
text-align: left;
}

.toc-h1
{
text-indent: 0em;
margin-top: 0em;
margin-left: 20pt;
text-align: left;
}

.copyright-space
{
text-indent: 0em;
margin-top: 1em;
font-size: 1em;
text-align: left;
}

.copyright
{
text-indent: 0em;
margin-top: 0em;
font-size: 1em;
text-align: left;
}


.glossentry
{
margin-left: 20pt;
text-indent: -20pt;
margin-top: 6pt;
}

.endnote
{
text-indent: 0em;
margin-bottom: 1em;
}

.footnote
{
text-indent: 0em;
font-size: 0.7em;
page-break-before: always;
}

.footnote1
{
text-indent: 0em;
font-size: 0.7em;
}

.line
{
text-indent: -1.5em;
padding-left: 3.5em;
text-align: left;
}

span.underline
{
text-decoration: underline;
}

div.ingredients
{
margin-top: 1em;
margin-bottom: 1em;
}

div.headnote
{
margin-top: 1em;
margin-bottom: 1em;
}

p.yield
{
text-indent: 0em;
font-style: italic;
text-align: right;
}

div.procedure
{
margin-top: 1em;
margin-bottom: 1em;
}

div.step
{
}

h1.recipe-title
{
font-size: 1.15em;
font-weight: bold;
text-align: left;
margin-top: 2em;
margin-bottom: 1em;
line-height: 1.2em;
}

p.ingredient
{
text-indent: -1pt;
padding-left: 1em;
}

p.step
{
text-indent: 0pt;
}

.dedication
{
text-indent: 0em;
text-align: center;
margin-top: 15%;
margin-left: 0%;
margin-right: 0%;
}

.toc-front
{
text-indent: 0em;
margin-top: 6pt;
margin-bottom: 6pt;
text-align: left;
}


.toc-dedication
{
text-indent: 0em;
margin-top: 6pt;
margin-bottom: 6pt;
text-align: left;
}


span.small-caps
{
font-size: 0.7em;
}

span.dropcap
{
font-size: 1.75em;
}

span.center
{
text-align: center;
text-indent: 0em;
}

h1.sect1
{
margin-top: 2em;
margin-bottom: 0.6em;
text-align: left;
text-indent: 0em;
line-height: 1.2em;
font-size: 0.8em;
font-weight: bold;
}

h2.sect2
{
margin-top: 2em;
margin-bottom: 0.6em;
text-align: left;
text-indent: 0em;
line-height: 1.2em;
font-size: 0.85em;
font-weight: bold;
}

h3.sect3
{
margin-top: 1.5em;
margin-bottom: 1em;
text-indent: 0em;
line-height: 1.2em;
}

h4.sect4
{
margin-top: 1.5em;
margin-bottom: 1em;
text-indent: 0em;
line-height: 1.2em;
}

h5.sect5
{
margin-top: 1.5em;
margin-bottom: 1em;
text-indent: 0em;
line-height: 1.2em;
}

h6.sect6
{
margin-top: 1.5em;
margin-bottom: 1em;
text-indent: 0em;
line-height: 1.2em;
}


h1.bibliography-title
{
font-size: 1.55em;
margin-top: 15%;
margin-bottom: 2.5em;
text-align: center;
text-indent: 0em;
line-height: 1.2em;
}


h1.bibliodiv-title
{
font-size: 1.15em;
margin-top: 1.5em;
margin-bottom: 1em;
text-indent: 0em;
line-height: 1.2em;
}

p.bibliomixed
{
text-indent: -1.5em;
padding-left: 1.5em;
}

.toc-teaser
{
text-indent: 0em;
margin-top: 6pt;
margin-bottom: 6pt;
text-align: left;
}

.adc
{
text-indent: 0em;
text-align: center;
}

div.sidebar
{
margin-top: 1.5em;
margin-bottom: 1.5em;
padding: 1em;
border: 1px solid #000000;
}

table
{
margin-top: 1.5em;
margin-bottom: 1.5em;
font-size: 0.9em;
border-collapse: collapse;
}

tr td
{
vertical-align: top;
padding: 0.2em;
}

div.blockquote
{
margin-top: 1.5em;
margin-bottom: 1.5em;
margin-left: 0.2em;
}

div.speech
{
margin-top: 1.5em;
margin-bottom: 1.5em;
}

div.speaker
{
text-indent: 0em;
margin-top: 0em;
margin-left: 20pt;
margin-right: 20pt;
}

div.qandaentry
{
margin-top: 1.5em;
margin-bottom: 1.5em;
}

div.question-div
{
margin-top: 0em;
margin-bottom: 0em;
}

div.answer-div
{
margin-top: 0em;
margin-bottom: 1.5em;
}

p.question-first
{
text-indent: 0em;
}

p.answer-first
{
text-indent: 20pt;
}

.galley-rw
{
font-family: serif;
font-size: 1em;
font-weight: normal;
letter-spacing: 0em;
line-height: 1.2em;
margin: 0em;
orphans: 1;
padding: 0em;
text-align: justify;
widows: 1;
word-spacing: 0em;
}

div.fixed-rw img
{
width: auto !important;
}

.list-toc-rw p
{
text-align: center;
text-indent: 0em;
}

.block-rw
{
margin-top: 1.27em;
margin-bottom: 1.27em;
}

div.fixed-rw
{
text-align: center;
}

.dedication-rw
{
display: block;
font-size: 1.09em;
line-height: 1.2em;
padding: 2em;
text-align: center;
}

.copyright-rw
{
display: block;
font-size: 1em;
font-weight: normal;
line-height: 1.2em;
padding-top: 2.00em;
padding-bottom: 2.00em;
text-align: left;
}

.AdCard-rw
{
text-align: center;
text-indent: 0em;
}

.hidden-tag
{
display: none;
visibility: hidden;
}

nav[hidden], ol[hidden]
{
display: none;
visibility: hidden;
}

.disclaimer-rw
{
font-size: 0.7em;
text-indent: 0em;
text-align: center !important;
margin-top: 1.5em;
}

div.pc-rw
{
text-align: center;
}

div.block-rw
{
margin-top: 0.25em;
margin-bottom: 0em;
}

div.list-toc-rw p
{
text-align: center;
text-indent: 0em;
}

div.BookTitlePage img
{
width: auto !important;
}

div.center
{
text-align: center;
text-indent: 0em;
}

.leading-line-rw
{
margin-top: .64em;
margin-bottom: .64em;
}

sup
{
vertical-align: super;
font-size: 0.9em;
line-height: 100% !important;
}

sub
{
vertical-align: sub;
font-size: 0.9em;
line-height: 100% !important;
}

ol.none
{
list-style-type:none;
margin: 0em;
padding: 0em;
}

.title-block-rw
{
margin: 0em;
min-height: 2.00em;
padding-top: 2.00em;
padding-bottom: 2em;
}

div.top
{
margin-top: 1.5em;
margin-bottom: 1.5em;
}

p.bl-list
{
line-height: 1.3em;
text-indent: -0.6em;
padding-left: 2.4em;
margin-top: 0em;
margin-bottom: 0em;
}

p.nl-list
{
line-height: 1.3em;
text-indent: -0.9em;
padding-left: 3em;
margin-top: 0em;
margin-bottom: 0em;
}

p.nl-list1
{
line-height: 1.3em;
text-indent: -1.4em;
padding-left: 3em;
margin-top: 0em;
margin-bottom: 0em;
}

.dedication1
{
text-indent: 0em;
text-align: center;
margin-top: 1em;
margin-left: 0%;
margin-right: 0%;
}

.opener
{
margin-top: 1.5em;
margin-bottom: 1.5em;
}

.salute
{
text-indent: 0em;
}

img
{
display: inline;
}

.inline_width-20
{
width: 19%;
vertical-align: middle;
}

.inline_width-30
{
width: 29%;
vertical-align: middle;
}

.image_full, .image_full_caption
{
text-align: center;
page-break-after: always;
page-break-inside: avoid;
clear: both;
padding: 0px;
margin: 0em auto;
height: 95%;
}

.image_full img
{
page-break-inside: avoid;
max-width: 100%;
max-height: 100%;
}

.image_full_caption img
{
page-break-inside: avoid;
height: 95%;
}

.cover_image
{
text-align: center;
page-break-inside: avoid;
clear: both;
padding: 0px;
margin: 0em auto;
height: 95%;
}

.cover_image img
{
page-break-inside: avoid;
max-height: 100%;
max-width: 100%;
}

.pc
{
margin: 0em;
padding: 0.5em 0 0.5em 0em;
text-align: center;
text-indent:0em;
}

.pc img
{
width: 100%;
margin: 0em;
padding: 0em;
page-break-inside: avoid;
}

.width-10
{
width: 9%;
margin: 0 45%;
page-break-inside: avoid;
}

.width-20
{
width: 19%;
margin: 0 40%;
page-break-inside: avoid;
}

.width-30
{
width: 29%;
margin: 0 35%;
page-break-inside: avoid;
}

.width-40
{width: 39%;
margin: 0 30%;
page-break-inside: avoid;
}

.width-50
{
width: 49%;
margin: 0 25%;
page-break-inside: avoid;
}

.width-60
{
width: 59%;
margin: 0 20%;
page-break-inside: avoid;
}

.width-70
{
width: 69%;
margin: 0 15%;
page-break-inside: avoid;
}

.width-80
{
width: 79%;
margin: 0 10%;
page-break-inside: avoid;
}

.width-90
{
width: 89%;
margin: 0 5%;
page-break-inside: avoid;
}

.width-100
{
width: 95%;
margin: 0 5%;
page-break-inside: avoid;
}

.width-fixed .pc
{
width: auto;
}

.width-fixed .pc img
{
width: auto;
}

.align-center .pc
{
margin: 0 auto 0 auto;
}

.align-center .pc img
{
margin: 0 auto 0 auto;
}

.align-center
{
text-align: center;
text-indent: 0em;
}

.caption
{
text-align: center;
text-indent: 0em;
font-size: 0.7em;
padding: 0px;
margin: 2% 10%;
page-break-before: avoid;
page-break-inside: avoid;
}

.lbt
{
text-indent: 0em;
font-weight: bold;
text-align: left;
}

.lbt1
{
text-indent: 0em;
font-weight: bold;
margin-top: 1.5em;
text-align: left;
}
.lbt2
{
text-indent: 0em;
font-weight: bold;
margin-top: 10%;
text-align: left;
}

.lbk2
{
font-weight: bold;
margin-top: 10%;
text-indent: 0em;
text-align: left;
}

.lbk1
{
font-weight: bold;
margin-top: 2em;
text-indent: 0em;
text-align: left;
}

.lbk
{
font-weight: bold;
margin-top: 0.5em;
text-indent: 0em;
text-align: left;
}



p.city 	 
{
margin-top: 0.5em;
margin-bottom: 0.2em;
text-align: center;
text-indent: 0pt;
font-family: sans-serif;
font-size: 0.7em;
}

p.city1
{
margin-top: 0em;
margin-bottom: 0.5em;
text-align: center;
text-indent: 0pt;
font-family: sans-serif;
font-size: 0.7em;
}

.noindent-20
{
text-indent: 0em;
margin-top: 10%;
}

.noindent-t
{
text-indent: 0em;
margin-top: 1em;
}

div.hang
{
margin-top: 1.5em;
margin-bottom: 1.5em;
margin-left: 1.7em;
margin-right: 1em;
}


p.blockquote-indentedpara00 {
text-indent: -1.3em;
margin-bottom: 0em;
font-size: 0.8em;
margin-left: 1.3em;
margin-right: 0em;
}


h1.preface-title1
{
font-size: 1.1em;
margin-top: 10%;
margin-bottom: 0em;
text-align: center;
text-indent: 0em;
line-height: 1.2em;
font-weight: normal;
}
h2.preface-subtitle1
{
font-size: 1.15em;
margin-top: 0.5em;
margin-bottom: 2em;
text-align: center;
text-indent: 0em;
line-height: 1.2em;
}

.gray1
{
	font-family: sans-serif;
	font-size: 1.55em;
	color: #a7a9ac;
}